
body {
    background-color: #007bff; 
    font-family: "Times New Roman", Times, serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Times New Roman", Times, serif; 
}

.navbar {
    background-color:green; 
}

.navbar-brand, .nav-link, .btn-outline-secondary {
    color: rgb(216, 17, 17) !important; 
}

#home {
    background-color: transparent; 
    color:greenyellow (231, 32, 32); 
}

#home img {
    border: 5px solid greenyellow; 
}

#skills {
    background-color: #0056b3; 
    color: green;
}

.progress-bar {
    background-color: #ffc107; 
}

#portfolio {
    background-color: #007bff;
}

.card {
    background-color: white;
    color: #007bff;
}

.card-title, .card-text {
    color: #0056b3;
}

.card .btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
}

#contact {
    background-color: #0056b3;
    color: white;
}

.form-control {
    background-color: white;
    color: #007bff;
}

.btn-primary {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #0056b3;
}

footer {
    background-color: #0056b3;
}

footer h5, footer p {
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    color: #ffc107;
}

.modal-content {
    background-color: white;
    color: #0056b3;
}

.modal-header {
    background-color: #007bff;
    color: white;
}

.modal-body img {
    border: 5px solid #007bff;
}
